#about_us_div{
    width: 960px;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    column-gap: 48px;
    color: rgb(55, 65, 81);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}